.idea
.idea/*

# Eclipse IDE
.project
.classpath
.settings/

# Sensitive or high-churn files:
# IntelliJ
/out/
bin
build
target

/website/node_modules
/cli/build
/cli/out

/lib/build
/lib/out
/gradle-plugin/out/functionalTest/classes/org/openapitools/openapistylevalidator/gradle/OpenAPIStyleValidatorGradlePluginFunctionalTest.class
/gradle-plugin/out/production/classes/org/openapitools/openapistylevalidator/gradle/OpenAPIStyleValidatorGradlePlugin.class
/gradle-plugin/out/production/classes/org/openapitools/openapistylevalidator/gradle/OpenAPIStyleValidatorTask.class
/gradle-plugin/out/test/classes/org/openapitools/openapistylevalidator/gradle/OpenAPIStyleValidatorGradlePluginTest.class
/maven-plugin/out/production/classes/org/openapitools/openapistylevalidator/maven/OpenAPIStyleValidatorMojo.class
.gradle