name: documentation

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  checks:
    if: github.event_name != 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.4.1
        with:
          node-version: '16.x'
      - name: Test Build
        run: |
          cd website
          if [ -e yarn.lock ]; then
            yarn install --immutable --immutable-cache
          elif [ -e package-lock.json ]; then
            npm ci
          else
            npm i
          fi
          npm run build
  gh-release:
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.4.1
        with:
          node-version: '16.x'
      - uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.GH_PAGES_DEPLOY }}
      - name: Release to GitHub Pages
        env:
          USE_SSH: true
          GIT_USER: git
        run: |
          cd website
          git config --global user.email "jcote@stingray.com"
          git config --global user.name "Jean-François Côté"
          if [ -e yarn.lock ]; then
            yarn install --immutable --immutable-cache
          elif [ -e package-lock.json ]; then
            npm ci
          else
            npm i
          fi
          npm run deploy